body {
  background-color: rgba(38, 157, 110, 0.762);
}

.card {
  height: 320px;
  width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  margin-bottom: 25px;
  position: relative;
  border-radius: 4px;
}

h2 {
  text-transform: capitalize;
}

.card img {
  object-fit: cover;
}

.remove {
  position: absolute;
  top: 5px;
  right: 5px;
}

.animalsList {
  display: flex;
  flex-wrap: wrap;
  margin-top: 50px;
  gap: 25px;
}

main {
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card_bottom {
  display: flex;
  width: 80%;
  justify-content: space-around;
  align-items: center;
}

.card_bottom button {
  width: 50px;
  height: 25px;
}
